@mixin atSmall {
   @media (max-width: 768px){
    @content;
  }
}
@mixin atMedium {
   @media (max-width: 940px){
    @content;
  }
}
@mixin clearfix {
  &::after {
    content: "";
    clear  : both;
    display: table;
  }
}
