@import './base/mixins'; // * {
//   background-color: rgba(0,0,0,.10);
//   border          : 1px dashed red !important;
// }
$main-hue: #267048;
$second-hue: #2b754d;
$third-hue: #267048;
$header-text-color: white;

body {
  font-family     : 'Varela Round', sans-serif;
  background-color: #f5f5f5;
}

p {
  font-size: 16px;
}

h3,
h4,
h5,
h6 {
  margin: 6px 0;
}

.header {
  &-cta {
    background-color: $main-hue;
    padding-top     : 25px;
    position        : relative;
  }

  &-button-wrapper {
    position: absolute;
    top     : 23px;
    right   : 35px;

    a {
      color: $header-text-color;
    }
  }

  &-button-custom {
    display       : inline-block;
    position      : relative;
    z-index       : 1;
    padding       : 7px 15px;
    font-size     : 13px;
    color         : #fff;
    border        : 2px solid rgba(255, 255, 255, 0.7);
    border-radius : 1.538em;
    text-transform: uppercase;
  }

  &-button-custom:hover {
    color          : #fff;
    border-color   : #fff;
    text-decoration: none;
  }

  &-social {
    list-style-type: none;
    padding        : 0 0 0 20px;
    margin-bottom  : 150px;
    position       : relative;

    li {
      display: inline;
      padding: 0 10px;
    }

    a {
      color          : $header-text-color;
      display        : inline-block;
      border-radius  : 50%;
      width          : 32px;
      height         : 32px;
      font-size      : 16px;
      text-align     : center;
      padding-top    : 4px;
      background-clip: padding-box;
      border         : 2px solid rgba(255, 255, 255, 0.7);
    }

    a:hover {
      color       : #fff;
      border-color: #fff;
    }
  }

  &-bio {
    padding         : 20px;
    background-color: $second-hue;
    color           : $header-text-color;

    &-pic-wrapper {
      position   : absolute;
      top        : 110px;
      width      : 100%;
      margin-left: -20px;
      overflow   : hidden;
    }

    &-pic {
      width        : 170px;
      border       : 3px solid white;
      border-radius: 50%;
    }

    &-name {
      margin-top: 90px;
      font-size : 40px;
    }

    &-title {
      font-size: 30px;
    }

    &-summary {
      width : 65%;
      margin: 20px auto;
    }
  }
}

nav {
  background-color: $third-hue;
  margin-bottom   : 50px;
}

.custom-nav {
  list-style-type: none;
  padding        : 20px;
  text-align     : center;

  li {
    display: inline;
    padding: 0 20px;
  }

  a {
    color    : $header-text-color;
    font-size: 18px;
  }
}

section {
  box-shadow   : 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  padding      : 0 50px;
  background   : #fff;
  margin-bottom: 45px;
  border-radius: 2px;
}

.section {
  &-padding {
    padding: 20px 50px;
  }

  &-header {
    font-size : 28px;
    text-align: center;
  }
}

.fa-margin-right {
  margin-right: 5px;
}

.job {
  &-title {
    font-size: 24px;
    color    : $main-hue;
    margin   : 6px 0;
  }

  &-company {
    font-size: 18px;
  }

  &-date {
    font-size: 18px;
  }

  &-details {
    font-size: 20px;
  }
}

#education h4 {
  font-size: 18px;
}

.education-title {
  color      : $main-hue;
  font-weight: bold;
}

.skill {
  text-align  : center;
  margin-top  : 60px;
  max-width   : 80%;
  margin-left : auto;
  margin-right: auto;

  &-tag {
    box-shadow   : 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding      : 6px 30px;
    display      : inline-block;
    margin-right : 10px;
    border       : 1px solid #f5f5f5;
    font-weight  : 500;
    margin-bottom: 15px;
    font-size    : 16px;
  }
}

.cards {
  display          : -webkit-box;
  display          : -webkit-flex;
  display          : -ms-flexbox;
  display          : flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap    : wrap;
  flex-wrap        : wrap;
  list-style       : none;
  margin           : 0;
  padding          : 0;
}

.cards__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color      : white;
  border-radius         : 0.25rem;
  box-shadow            : 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  display               : -webkit-box;
  display               : -webkit-flex;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-box-orient    : vertical;
  -webkit-box-direction : normal;
  -webkit-flex-direction: column;
  -ms-flex-direction    : column;
  flex-direction        : column;
  overflow              : hidden;
}

.card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.card__content {
  display               : -webkit-box;
  display               : -webkit-flex;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-box-flex      : 1;
  -webkit-flex          : 1 1 auto;
  -ms-flex              : 1 1 auto;
  flex                  : 1 1 auto;
  -webkit-box-orient    : vertical;
  -webkit-box-direction : normal;
  -webkit-flex-direction: column;
  -ms-flex-direction    : column;
  flex-direction        : column;
  padding               : 1rem;
}

.card img {
  width : 100%;
  height: auto;
}

.card__image {
  height            : auto;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition        : -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition        : filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition        : filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__title {
  color         : #222;
  font-size     : 1.25rem;
  font-weight   : 300;
  /*letter-spacing: 1px;*/
  text-transform: capitalize;
  text-align    : center;
}

.card__text {
  -webkit-box-flex: 1;
  -webkit-flex    : 1 1 auto;
  -ms-flex        : 1 1 auto;
  flex            : 1 1 auto;
  font-size       : 0.875rem;
  line-height     : 1.5;
  margin-bottom   : 1.25rem;
}

#contact-form input,
textarea {
  border-color: $main-hue !important;
}

.btn-send {
  background-color: $main-hue;
  color           : white;
}
@include atSmall {
  .job {
    &-title {
      text-align: center;
    }

    &-company {
      text-align: center;
    }

    &-date {
      text-align: center;
    }
  }

  .header-bio-summary {
    width: 90%;
  }

  .text-center-mobile {
    text-align: center;
  }

  .skill {
    display: none;
  }
}
